@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hidden {
  display: none !important;
}

.hub__main {
  max-width: 1050px;
  margin: auto;
}

.global__header {
  display: flex;
  width: 100%;
  height: 70px;
  background: #EC362D;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.global__header .global__title {
  cursor: pointer;
  margin: auto;
  color: white;
  font-size: 40px;
  font-weight: 700;
  font-family: "Roboto";
}

.my__quizzes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1050px;
  height: 180px;
  border-radius: 5px;
  background: rgb(189, 97, 97);
  margin: 77px 7px;
}
.my__quizzes p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #B9B9B9;
}
.my__quizzes button {
  cursor: pointer;
  width: 150px;
  height: 40px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  padding: 5px;
  color: #EC362D;
  border: 1px dashed #EC362D;
  border-radius: 50px;
  margin-top: 20px;


}
.my__quizzes button:hover {
  transition: linear 0.2s;
  transform: scale(1.1);
}



h2 {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: left;
  margin-bottom: 7px;
  margin-left: 5px;
}

.all__quizzes {
  max-width: 1050px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  
}
.all__quizzes h3 {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  margin-top: 110px;
  overflow:hidden;
  position: relative;
  top: -160px;
  color: #ffffff
}
.all__quizzes .quizzes {
  width: 340px;
  height: 181px;
  position: relative;
  border-radius: 5px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%), url(image.png);
  margin: 7px 5px;
}

.quizz .img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 230px;
  background-image: url(https://images.pexels.com/photos/1108099/pexels-photo-1108099.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}
.quizz h1 {
  font-family: "Roboto";
  font-size: 40px;
  line-height: 45px;
  color: white;
}

.questions__container {
  max-width: 620px;
  margin: 70px auto;
}
.questions__container .quizz__header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 140px;
  margin: 0 5px;
  background: #434CA0;
}
.questions__container .quizz__header .question {
  color: white;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
}

.quizz__main {
  display: flex;
  flex-wrap: wrap;
}

.alternative {
  display: flex;
  flex-direction: column;
  margin: auto;
}
.alternative img {
  width: 300px;
  height: 175px;
  margin: 10px 0;
}
.alternative h4 {
  margin-bottom: 10px;
  width: 300px;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
}

::-moz-placeholder {
  color: #BABABA;
}

:-ms-input-placeholder {
  color: #BABABA;
}

::placeholder {
  color: #BABABA;
}

.create__quizz,
.creating__quizz,
.create__levels {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 70px auto 20px auto;
}
.start .start__title {
  margin-bottom: 27px;
  text-align: center;
  font-family: "Roboto";
  font-size: 23px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
}
.start .start__data {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 20px;
  margin: 10px;
}
.start .start__data label {
  text-align: start;
  padding: 20px;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
}
.start .start__data input {
  font-family: "Roboto";
  font-style: italic;
  font-size: 19px;
  padding-left: 23px;
  box-sizing: border-box;
  background: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  margin: 10px 0px 9px 0px;
  width: 564px;
  height: 46px;
}
.start .button__position {
  display: flex;
  justify-content: center;
}
.start .start__button {
  overflow: hidden;
  cursor: pointer;
  font-family: "Roboto";
  font-size: 21px;
  line-height: 25px;
  font-weight: 400;
  background: #EC362D;
  width: 368px;
  height: 54px;
  border-radius: 15px;
  border: none;
  justify-content: center;
  color: white;
  margin-top: 84px;
}
.start .start__button:hover {
  transition: linear 0.1s;
  transform: scale(1.05);
}

.questions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 17px;
  margin: 20px auto;
  width: 600px;
  height: 74px;
  background: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}
.questions .start__title {
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
}
.questions ion-icon {
  cursor: pointer;
  font-size: 26px;
}
.questions ion-icon:hover {
  transition: linear 0.2s;
  transform: scale(1.2);
}

.start__button {
  overflow: hidden;
  cursor: pointer;
  font-family: "Roboto";
  font-size: 21px;
  line-height: 25px;
  font-weight: 400;
  background: #EC362D;
  width: 368px;
  height: 54px;
  border-radius: 15px;
  border: none;
  justify-content: center;
  color: white;
  margin-top: 84px;
}

.start__button:hover {
  transition: linear 0.1s;
  transform: scale(1.05);
<<<<<<< HEAD
}

@media (max-width: 720px) {
  .start {
    width: 100%;
  }
  .start .start__data {
    margin: 10px;
  }
  .start .start__data input {
    width: 100%;
    margin: 9px 0px 9px;
  }
  .questions {
    width: 80%;
  }
}/*# sourceMappingURL=style.css.map */
=======
}/*# sourceMappingURL=style.css.map */

.image-quizz{

  Width: 340px;
  Height:181px;
  border-radius: 5px;
}